---
import Navbar from "./components/Navbar.astro";
import Meta from "./components/Meta.astro";
import SideFrameNav from "./components/SideFrameNav.astro";
import BlogFooterNav from "./components/BlogFooterNav.astro";
import "../styles/global.css";
import ThemeIcon from "./components/ThemeIcon.astro";
import GoogleAnalytics from "./components/GoogleAnalytics.astro";
interface Props {
	site_title: string;
	site_description: string;
	email: string;
	socials: {
		linkedin: string;
		twitter: string;
		github: string;
	};
}

const { site_title, site_description, email, socials } = Astro.props;

// TODO: Add the left and right social, email menus (not on mobile)
---

<!doctype html>
<html lang="en">
	<head>
		<Meta site_title={site_title} site_description={site_description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{site_title}</title>
		<GoogleAnalytics id="G-5D2M8W8WH9"/>
		<style>
			.theme-toggle-container { position: absolute; top: 1rem; right: 1rem; }
		</style>
	</head>
	<body class="dark">
		<div class="theme-toggle-container">
			<ThemeIcon/>
		</div>
		<slot />
		<SideFrameNav email={email} socials={socials} />
		<BlogFooterNav />
	</body>
</html>
