---
import Navbar from './components/Navbar.astro';
import Meta from './components/Meta.astro';
import SideFrameNav from './components/SideFrameNav.astro';
import GoogleAnalytics from './components/GoogleAnalytics.astro';
import Footer from './components/Footer.astro';
import '../styles/global.css';
interface Props {
	site_title: string;
	site_description: string;
	email: string;
	socials: {
		linkedin: string;
		twitter: string;
		github: string;
	};
}

const { site_title, site_description, email, socials } = Astro.props;

// TODO: Add the left and right social, email menus (not on mobile)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Meta site_title={site_title} site_description={site_description}/>
		<title>{site_title}</title>
		<GoogleAnalytics id="G-5D2M8W8WH9"/>
	</head>
	<body class="dark">
		<Navbar/>
		<slot />
		<SideFrameNav email={email} socials={socials}/>
		<Footer/>
	</body>
</html>